body {
 background-color: white;
 border: 5px solid black;
}
.banner {
    background-color:black;
    border: 3px solid grey;
    color: white;
    padding: 3px;
}
.editor {
    background-color: rgb(109, 109, 109);
    border: 1px solid black;
    color: red;

width: 98%;
padding: 1%;
    max-height: 50%;
  
}
.tut {
    text-align: center;
    margin-left: 45%;

}
.point{
    color: black;
    background-color: white;
    float: right;
}
.point:hover{
    color: white;
    background-color:grey;
}


.notify {
    background-color:black;
    border: 2px solid grey;
    color: white;
    padding: 2px;
    
}
nav {
    display: inline-block;
    border: 1px solid black;
    background-color: darkgrey;
    color: black;
    width: 100%;

}


 .editor #css{
    background-color: black;
    border: 1px solid black;
    color: white;
    height: 100%;
    width: 20%;
    padding: 2%;
}
 .editor #js{
    background-color: black;
    border: 1px solid black;
    color: white;
    height: 100%;
    width: 20%;
    padding: 2%;
}
.editor #html {
    background-color: black;
    border: 1px solid black;
    color: white;
    height: 100%;
    width: 20%;
    padding: 2%;
 
}
#output{
    background-color: white;
    border: 1px solid black;
   
    height: 1000px;
    width: 96%;
    padding: 2%;
}

.iframe {
 border: 2px solid black;
 height: 500px;
 width: 90%;
}
.textarea {

 
}

